/* Estilo realista para el header */
.header-realista {
    background: linear-gradient(to right, #003366, #005b99); /* Azules oscuros para un tono serio y profesional */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-realista .logo-img {
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    width: 80px;
    height: 80px;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

   
.container-mt-5 {
    max-width: 700px;  /* Ajusta el ancho máximo */
    margin: 0 auto;    /* Centra la sección horizontalmente */
}

/* Card Styles */
.container {
    max-width: 700px; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    padding: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    margin: 20px;
    text-align: center;
}

.new-tag {
    background-color: #007DC5;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.megabytes {
    font-size: 2.5em;
    font-weight: bold;
    color: #007DC5;
}

.price {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

.includes {
    margin-top: 10px;
}

.includes .item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.item img {
    width: 20px;
    margin-right: 10px;
}

.button {
    background-color: #007DC5;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background-color: #005f99;
}