
body {
    font-family: Arial, sans-serif;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: linear-gradient(180deg, #ffffff 0%, #93c4d2 0%,  #ffffff 100%);
    padding: 100px;
    border-radius: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
    width: 500px;
    text-align: center;
    border: 2px solid #97d7ff; 
}
h2 {
    margin-bottom: 20px;
}

input[type="email"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input[type="submit"] {
    background-color: #4562a0;
    color: white;
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    padding: 10px; 
    font-size: 18px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

input[type="submit"]:hover {
    background-color: #4CAF50;
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}
.message {
    margin-top: 20px;
}
a {
    color: #4562a0;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}