/* Cambia el color del fondo degradado */
.bg-gradient-primary {
    background: linear-gradient(180deg, #b4dff3 10%, #7CF5FF 100%);
}
/* Cambia el color del botón de Login */
.btn-primary {
    background-color: #2877ed;
    border-color: #8b8b89;
}
/* Cambia el color del botón de Google */
.btn-google {
    background-color: #9e0407;
    border-color: #db4437;
}

/* Cambia el color del botón de Facebook */
.btn-facebook {
    background: linear-gradient(180deg,     #4e73df, #4e73df 100%);
    border-color: #4267B2;
}

/* Cambia el diseño del texto "Welcome Back!" */
h1.h4.text-gray-900.mb-4 {
    font-size: 2rem;           /* Ajusta el tamaño de la letra */
    font-weight: bold;         /* Puedes cambiar el peso si lo prefieres */
    color: #171616;            /*  */
    text-align: center;        /* 
    margin-bottom: 1.5rem;     /* Ajusta el espacio debajo del texto si lo necesitas */
}

/* Cambia el color del cuadro blanco */
.card {
    background: linear-gradient(180deg, #f9f8f8 10%, #edf8f9 100%);/* Cambia este color por el que desees */
    border-radius: 10px;       /* Ajusta los bordes si lo prefieres más redondeado */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Ajusta la sombra si quieres más o menos intensidad */
}

.input-group .input-group-text {
    background-color: #4e73df; /* Cambia el color de fondo según tu preferencia */
    color: white; /* Cambia el color del icono según tu preferencia */
}

.form-control {
    border-radius: 10px; /* Bordes redondeados para los campos de entrada */
}

.form-control:focus {
    box-shadow: 0 0 5px rgba(78, 115, 223, 0.5); /* Efecto de foco en el campo */
}


.row {
    margin-top: 50px; /* Ajusta este valor según sea necesario */
}


