body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2; /* Color de fondo vibrante */
    color: #212121; /* Texto oscuro para mejor legibilidad */
    min-height: 100vh; /* Asegura que la página cubra toda la altura de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 600px; /* Ajusta el ancho del contenedor */
    width: 100%; /* Asegura que ocupe el 100% del ancho en pantallas pequeñas */
    background-color: #D2DEEE;
    border-radius: 15px;
    padding: 40px; /* Mantén el padding para dar espacio alrededor de los inputs */
    text-align: center; /* Asegura que el contenido se centre */
}

h1 {
    font-size: 1.5rem; /* Tamaño de fuente más grande */
    color: #212121; /* Texto oscuro */
    font-weight: bold;
    margin-bottom: 20px; /* Más espacio entre el título y los inputs */
}

input {
    width: calc(100% - 30px); /* Ajusta el ancho para dejar espacio en los bordes */
    max-width: 500px; /* Ajusta el tamaño máximo del input */
    border-radius: 15px;
    padding: 15px;
    margin: 10px auto; /* Margen superior e inferior para centrar el input */
    border: 1px solid #b0bec5;
    font-size: 1rem;
    background-color: #ffffff; /* Fondo más claro en los inputs */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    display: block; /* Hace que el input se trate como un bloque */
}

.btn-primary {
    width: 100%; /* Se ajusta al contenedor */
    max-width: 200px; /* Ajusta el tamaño máximo del botón */
    border-radius: 10px;
    padding: 15px;
    margin: 15px auto; /* Margen superior e inferior, y auto a los lados para centrar */
    border: 1px solid #4462A0;
    font-size: 1rem;
    background-color: #4462A0; /* Fondo más claro en el botón */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: block; /* Hace que el botón se trate como un bloque */
    color: #ffffff;
}

.text-center a {
    color: #023cb8;
    font-weight: 500;
    text-decoration: none;
    margin-top: 15px;
    display: block;
}


/* Añadido para mejor presentación en pantallas pequeñas */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    .btn-primary {
        padding: 10px;
        font-size: 1.1rem;
    }
}

.imagen-personalizada {
    border-radius: 10px; /* Bordes redondeados */
    margin: -10px auto 20px; /* Margen negativo superior */
    display: block; /* Hace que la imagen se trate como un bloque */
    width: 150px;
}
